@model RightWord.App.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Student Details";
}
<div class="container">

    <h1>Student Details</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Surname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Surname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Passport)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Passport)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Country)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NativeLanguage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NativeLanguage)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Session)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Session)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Duration)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CourseType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CourseType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            @*<dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FinishDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FinishDate)
                </dd>*@
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ArrivalDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Dob)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Dob)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Accommodation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Accommodation)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AccommodationDuration)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AccommodationDuration)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Active)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Agency)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Agency.Name)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="noPrint">Edit</a>
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Index" class="noPrint"> | Back to List</a>
        }
    </div>
    <br />
    <div>
        <button onclick="window.print();" class="fa fa-print noPrint"></button>
    </div>
</div>
