@model RightWord.App.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Edit Student";
}

<div class="container">
    <h1>Edit</h1>

    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" enctype="multipart/form-data">
                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                <vc:Summary></vc:Summary>

                <input type="hidden" asp-for="Id" />
                @if (User.IsInRole("Admin"))
                {
                <div class="form-group">
                    <label asp-for="AgencyId" class="control-label"></label>
                    <select asp-for="AgencyId" class="form-control" asp-items="@(new SelectList(Model.Agencies, "Id", "Name"))">
                    </select>
                    <span asp-validation-for="AgencyId" class="text-danger"></span>
                </div>
                }
                else
                {
                @*<label asp-for="AgencyId" class="control-label"></label>*@
                <select hidden asp-for="AgencyId" class="form-control" asp-items="@(new SelectList(Model.Agencies, "Id", "Name"))"></select>
                }

                <div class="row">
                    <div class="col-md-6">
                        <input type="hidden" asp-for="Email" class="form-control" />
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Surname" class="control-label"></label>
                            <input asp-for="Surname" class="form-control" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Passport" class="control-label"></label>
                            <input asp-for="Passport" class="form-control" />
                            <span asp-validation-for="Passport" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Country" class="control-label"></label>
                            <select asp-for="Country" class="form-control" asp-items="@(new SelectList(Model.Countries, "Key", "Value").OrderBy(x =>x.Value))">
                                <option></option>
                            </select>
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NativeLanguage" class="control-label"></label>
                            <select asp-for="NativeLanguage" class="form-control" asp-items="@(new SelectList(Model.Languages, "Key", "Value").OrderBy(x =>x.Value))">
                                <option></option>
                            </select>
                            <span asp-validation-for="NativeLanguage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Session" class="control-label"></label>
                            <select asp-for="Session" class="form-control">
                                <option value="0">Morning</option>
                                <option value="1">Afternoon</option>
                            </select>
                            <span asp-validation-for="Session" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Duration" class="control-label"></label>
                            <select asp-for="Duration" class="form-control">
                                <option value="0">No</option>
                                <option value="25">25 Weeks (Academic Year)</option>
                                <option value="1">1 Week</option>
                                <option value="2">2 Weeks</option>
                                <option value="3">3 Weeks</option>
                                <option value="4">4 Weeks</option>
                                <option value="5">5 Weeks</option>
                                <option value="6">6 Weeks</option>
                                <option value="7">7 Weeks</option>
                                <option value="8">8 Weeks</option>
                                <option value="9">9 Weeks</option>
                                <option value="10">10 Weeks</option>
                                <option value="11">11 Weeks</option>
                                <option value="12">12 Weeks</option>
                            </select>
                            <span asp-validation-for="Duration" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CourseType" class="control-label"></label>
                            <select asp-for="CourseType" class="form-control">
                                <option value="1">1-General English</option>
                                <option value="2">2-General English - 25 Weeks Academic Year</option>
                                <option value="3">3-General English - Online Classes</option>
                                <option value="4">4-IELTS</option>
                                <option value="0">0-Other</option>
                            </select>
                            <span asp-validation-for="CourseType" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="StartDate" class="control-label"></label>
                            <input asp-for="StartDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ArrivalDate" class="control-label"></label>
                            <input asp-for="ArrivalDate" class="form-control" />
                            <span asp-validation-for="ArrivalDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Dob" class="control-label"></label>
                            <input asp-for="Dob" class="form-control" />
                            <span asp-validation-for="Dob" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Accommodation" class="control-label"></label>
                            <select asp-for="Accommodation" class="form-control">
                                <option value="0">No</option>
                                <option value="1">Yes, Student Accommodation</option>
                                <option value="2">Yes, Host Family</option>
                            </select>
                            <span asp-validation-for="Accommodation" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="AccommodationDuration" class="control-label"></label>
                            <select asp-for="AccommodationDuration" class="form-control">
                                <option value="0">No</option>
                                <option value="1">1 Week</option>
                                <option value="2">2 Weeks</option>
                                <option value="3">3 Weeks</option>
                                <option value="4">4 Weeks</option>
                                <option value="5">5 Weeks</option>
                                <option value="6">6 Weeks</option>
                                <option value="7">7 Weeks</option>
                                <option value="8">8 Weeks</option>
                                <option value="9">9 Weeks</option>
                                <option value="10">10 Weeks</option>
                                <option value="11">11 Weeks</option>
                                <option value="12">12 Weeks</option>
                                <option value="13">13 Weeks</option>
                                <option value="14">14 Weeks</option>
                            </select>
                            <span asp-validation-for="AccommodationDuration" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PassportUpload" class="control-label"></label>
                            <div class="form-group">
                                <a class="btn btn-outline-primary" href="~/uploadedFiles/@Model.PassportImage" target="_blank">
                                    Open Current File
                                </a>
                                @*<a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#viewFileModal">
                                        Open Current File
                                    </a>*@
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file" asp-for="PassportUpload">
                            </div>
                            <span asp-validation-for="PassportUpload" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                @if (!User.IsInRole("Student"))
                {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
                }
                else
                {
                <div hidden class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
                }
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>


            @*<div id="DocumentsTarget">
                    <partial name="_ListDocuments" />
                </div>*@

        </div>
    </div>

    <!-- Modal -->
    @*<div class="modal fade" id="viewFileModal" tabindex="-1" aria-labelledby="viewfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewfileModalLabel">Passport Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe src="~/uploadedFiles/@Model.PassportImage" class="w-100 h-auto"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>*@

    @*<div id="myModal" class="modal fade in">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id="myModalContent"></div>
                </div>
            </div>
        </div>*@

    @if (!User.IsInRole("Student"))
    {
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
