@model RightWord.App.ViewModels.AgencyViewModel

@{
    ViewData["Title"] = "Agency Details";
}
<div class="container">
    <h1>Agency Details</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LegalName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LegalName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BusinessOwner)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BusinessOwner)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BusinessRegistration)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BusinessRegistration)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ZipCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ZipCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Country)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StudentNationalities)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StudentNationalities)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Active)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="noPrint">Edit</a>
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Index" class="noPrint"> | Back to List</a>
        }
    </div>
    <br />
    <div>
        <button onclick="window.print();" class="fa fa-print noPrint"></button>
    </div>
</div>