@model IEnumerable<RightWord.App.ViewModels.AgencyViewModel>

@{
    ViewData["Title"] = "All Agencies";
}
<div class="container">
    <h1>Agencies List</h1>
    <vc:Summary></vc:Summary>
    <p>
        <a asp-action="Create" class="btn btn-primary" style="width:auto">Create New Agency</a>
    </p>
    <table id="table" class="table"
           data-toggle="table"
           @*data-height="500"*@
           data-filter="true"
           data-show-pagination-switch="true"
           data-pagination="true"
           data-show-footer="true"
           data-show-columns="true"
           data-page-list="[10, 25, 50, 100, all]"
           data-filter-control="true"
           data-show-print="true"
           @*data-show-export="true"*@
           data-click-to-select="true"
           @*data-toolbar="#toolbar"*@
           data-show-toggle="true"
           data-show-search-clear-button="true">
        <thead>
            <tr>
                <th></th>
                <th data-sortable="true">
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th data-field="Name" data-filter-control="input" data-sortable="true">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th data-field="Email" data-filter-control="input" data-sortable="true">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pencil-alt"></span></a>
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash-alt"></span></a>
                        }
                        </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>